# Importing and Managing Financial Data in Python

In [5]:
import pandas as pd

In [7]:
amex = pd.read_csv('amex-listings.csv') # to import database
amex.info() # to inspect table structure and data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           360 non-null    object
 1   Company Name           360 non-null    object
 2   Last Sale              346 non-null    float64
 3   Market Capitalization  360 non-null    float64
 4   IPO Year               105 non-null    float64
 5   Sector                 238 non-null    object
 6   Industry               238 non-null    object
 7   Last Update            360 non-null    object
dtypes: float64(3), object(5)
memory usage: 22.6+ KB

In [9]:
# Replace 'n/a' with np.nan
amex = pd.read_csv('amex-listings.csv', na_values='n/a')
amex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           360 non-null    object
 1   Company Name           360 non-null    object
 2   Last Sale              346 non-null    float64
 3   Market Capitalization  360 non-null    float64
 4   IPO Year               105 non-null    float64
 5   Sector                 238 non-null    object
 6   Industry               238 non-null    object
 7   Last Update            360 non-null    object
dtypes: float64(3), object(5)
memory usage: 22.6+ KB

## Properly parsing dates

In [11]:
amex = pd.read_csv('amex-listings.csv', na_values='n/a', parse_dates=['Last Update'])
amex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           360 non-null    object
 1   Company Name           360 non-null    object
 2   Last Sale              346 non-null    float64
 3   Market Capitalization  360 non-null    float64
 4   IPO Year               105 non-null    float64
 5   Sector                 238 non-null    object
 6   Industry               238 non-null    object
 7   Last Update            360 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 22.6+ KB

In [12]:
amex.head(2) # shows first n rows (default:5)

,Stock Symbol,Company Name,Last Sale,Market Capitalization,IPO Year,Sector,Industry,Last Update
0,XXII,"22nd Century Group, Inc",1.33,1.206285e+08,NaN,Consumer Non-Durables,Farming/Seeds/Milling,2017-04-26
1,FAX,Aberdeen Asia-Pacific Income Fund Inc,5.00,1.266333e+09,1986.0,NaN,NaN,2017-04-25

### ** Exercises **

#### Import stock listing info from the NASDAQ

In [13]:
# Import pandas library
import pandas as pd

# Import the data
nasdaq = pd.read_csv('nasdaq-listings.csv')

# Display first 10 rows
print(nasdaq.head(10))

  Stock Symbol           Company Name  Last Sale  Market Capitalization  \
0         AAPL             Apple Inc.     141.05           7.400000e+11
1        GOOGL          Alphabet Inc.     840.18           5.810000e+11
2         GOOG          Alphabet Inc.     823.56           5.690000e+11
3         MSFT  Microsoft Corporation      64.95           5.020000e+11
4         AMZN       Amazon.com, Inc.     884.67           4.220000e+11
5           FB         Facebook, Inc.     139.39           4.030000e+11
6        CMCSA    Comcast Corporation      37.14           1.760000e+11
7         INTC      Intel Corporation      35.25           1.660000e+11
8         CSCO    Cisco Systems, Inc.      32.42           1.620000e+11
9         AMGN             Amgen Inc.     161.61           1.190000e+11

  IPO Year             Sector  \
0     1980         Technology
1      NAN         Technology
2     2004         Technology
3     1986         Technology
4     1997  Consumer Services
5     2012         Technology
6      NAN  Consumer Services
7      NAN         Technology
8     1990         Technology
9     1983        Health Care

                                            Industry Last Update
0                             Computer Manufacturing     4/26/17
1    Computer Software: Programming, Data Processing     4/24/17
2    Computer Software: Programming, Data Processing     4/23/17
3            Computer Software: Prepackaged Software     4/26/17
4                     Catalog/Specialty Distribution     4/24/17
5    Computer Software: Programming, Data Processing     4/26/17
6                                Television Services     4/26/17
7                                     Semiconductors     4/23/17
8                  Computer Communications Equipment     4/23/17
9  Biotechnology: Biological Products (No Diagnos...     4/24/17

In [14]:
# Inspect nasdaq
nasdaq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           1115 non-null   object
 1   Company Name           1115 non-null   object
 2   Last Sale              1115 non-null   float64
 3   Market Capitalization  1115 non-null   float64
 4   IPO Year               1115 non-null   object
 5   Sector                 1115 non-null   object
 6   Industry               1115 non-null   object
 7   Last Update            1115 non-null   object
dtypes: float64(2), object(6)
memory usage: 69.8+ KB

#### How to fix the data import?

Two optional arguments that you can add to .read_csv() to better represent the data from an external file are:

na_values: Converts a given string to np.nan, defaults to None

parse_dates: Reads the data in a list of given columns as dtype datetime64, defaults to False

In [20]:
# Import the data
nasdaq = pd.read_csv('nasdaq-listings.csv', 
                     parse_dates=['Last Update'],  
                     na_values='NAN')
print(nasdaq.head(10))

  Stock Symbol           Company Name  Last Sale  Market Capitalization  \
0         AAPL             Apple Inc.     141.05           7.400000e+11
1        GOOGL          Alphabet Inc.     840.18           5.810000e+11
2         GOOG          Alphabet Inc.     823.56           5.690000e+11
3         MSFT  Microsoft Corporation      64.95           5.020000e+11
4         AMZN       Amazon.com, Inc.     884.67           4.220000e+11
5           FB         Facebook, Inc.     139.39           4.030000e+11
6        CMCSA    Comcast Corporation      37.14           1.760000e+11
7         INTC      Intel Corporation      35.25           1.660000e+11
8         CSCO    Cisco Systems, Inc.      32.42           1.620000e+11
9         AMGN             Amgen Inc.     161.61           1.190000e+11

   IPO Year             Sector  \
0    1980.0         Technology
1       NaN         Technology
2    2004.0         Technology
3    1986.0         Technology
4    1997.0  Consumer Services
5    2012.0         Technology
6       NaN  Consumer Services
7       NaN         Technology
8    1990.0         Technology
9    1983.0        Health Care

                                            Industry Last Update
0                             Computer Manufacturing  2017-04-26
1    Computer Software: Programming, Data Processing  2017-04-24
2    Computer Software: Programming, Data Processing  2017-04-23
3            Computer Software: Prepackaged Software  2017-04-26
4                     Catalog/Specialty Distribution  2017-04-24
5    Computer Software: Programming, Data Processing  2017-04-26
6                                Television Services  2017-04-26
7                                     Semiconductors  2017-04-23
8                  Computer Communications Equipment  2017-04-23
9  Biotechnology: Biological Products (No Diagnos...  2017-04-24

In [21]:
nasdaq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           1115 non-null   object
 1   Company Name           1115 non-null   object
 2   Last Sale              1115 non-null   float64
 3   Market Capitalization  1115 non-null   float64
 4   IPO Year               593 non-null    float64
 5   Sector                 1036 non-null   object
 6   Industry               1036 non-null   object
 7   Last Update            1115 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 69.8+ KB

## Read data from Excel worksheets

Import data from excel

pd.read_excel(file, sheet_name=0) # imports first sheet by default with zero
pd.read_excel(file, sheet_name='amex') # you can also refer to the sheet by its name
pd.read_excel(file, sheet_name=['amex', 'nasdaq']) # import multiple sheets with a list

In [29]:
# Reading the Amex sheet from Excel

amex = pd.read_excel('listings.xlsx',
                    sheet_name='amex',
                    na_values='n/a')
amex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           360 non-null    object
 1   Company Name           360 non-null    object
 2   Last Sale              346 non-null    float64
 3   Market Capitalization  360 non-null    float64
 4   IPO Year               105 non-null    float64
 5   Sector                 238 non-null    object
 6   Industry               238 non-null    object
dtypes: float64(3), object(4)
memory usage: 19.8+ KB

In [34]:
# Importing data from two sheets

listings = pd.read_excel('listings.xlsx',
                    sheet_name=['amex', 'nasdaq'], #keys = sheet name
                    na_values='n/a') #values = DataFrame

listings['nasdaq'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3167 entries, 0 to 3166
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           3167 non-null   object
 1   Company Name           3167 non-null   object
 2   Last Sale              3165 non-null   float64
 3   Market Capitalization  3167 non-null   float64
 4   IPO Year               1386 non-null   float64
 5   Sector                 2767 non-null   object
 6   Industry               2767 non-null   object
dtypes: float64(3), object(4)
memory usage: 173.3+ KB

In [35]:
# Getting sheet names

xls = pd.ExcelFile('listings.xlsx') # create a pd.ExcelFile object
exchanges = xls.sheet_names # access the attribute sheet_names
exchanges # assign the list to variable exchanges

['amex', 'nasdaq', 'nyse']

In [37]:
nyse = pd.read_excel(xls,
                    sheet_name=exchanges[2],
                    na_values='n/a')
nyse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3147 entries, 0 to 3146
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           3147 non-null   object
 1   Company Name           3147 non-null   object
 2   Last Sale              3079 non-null   float64
 3   Market Capitalization  3147 non-null   float64
 4   IPO Year               1361 non-null   float64
 5   Sector                 2177 non-null   object
 6   Industry               2177 non-null   object
dtypes: float64(3), object(4)
memory usage: 172.2+ KB

### ** Exercises **

#### Load listing info from a single sheet

In [38]:
# Only read the NYSE worksheet of listings.xlsx

# Import the data
nyse = pd.read_excel('listings.xlsx', sheet_name = 'nyse' , na_values='n/a')

# Display the head of the data
print(nyse.head())

# Inspect the data
nyse.info()

  Stock Symbol            Company Name  Last Sale  Market Capitalization  \
0          DDD  3D Systems Corporation      14.48           1.647165e+09
1          MMM              3M Company     188.65           1.127366e+11
2         WBAI         500.com Limited      13.96           5.793129e+08
3         WUBA             58.com Inc.      36.11           5.225238e+09
4          AHC   A.H. Belo Corporation       6.20           1.347351e+08

   IPO Year             Sector  \
0       NaN         Technology
1       NaN        Health Care
2    2013.0  Consumer Services
3    2013.0         Technology
4       NaN  Consumer Services

                                          Industry
0          Computer Software: Prepackaged Software
1                       Medical/Dental Instruments
2            Services-Misc. Amusement & Recreation
3  Computer Software: Programming, Data Processing
4                             Newspapers/Magazines
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3147 entries, 0 to 3146
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           3147 non-null   object
 1   Company Name           3147 non-null   object
 2   Last Sale              3079 non-null   float64
 3   Market Capitalization  3147 non-null   float64
 4   IPO Year               1361 non-null   float64
 5   Sector                 2177 non-null   object
 6   Industry               2177 non-null   object
dtypes: float64(3), object(4)
memory usage: 172.2+ KB

#### Load listing data from two sheets

In [40]:
# Create pd.ExcelFile() object
xls = pd.ExcelFile('listings.xlsx')

# Extract sheet names and store in exchanges
exchanges = xls.sheet_names

# Create listings dictionary with all sheet data
listings = pd.read_excel(xls, sheet_name=exchanges, na_values='n/a')

# Inspect NASDAQ listings
listings['nasdaq'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3167 entries, 0 to 3166
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           3167 non-null   object
 1   Company Name           3167 non-null   object
 2   Last Sale              3165 non-null   float64
 3   Market Capitalization  3167 non-null   float64
 4   IPO Year               1386 non-null   float64
 5   Sector                 2767 non-null   object
 6   Industry               2767 non-null   object
dtypes: float64(3), object(4)
memory usage: 173.3+ KB

## Combine data from multiple worksheets

In [41]:
# Combine DataFrames

# pd.concat([amex,nasdaq,nyse]) # combines dataframes vertically

# Import the data

amex = pd.read_excel('listings.xlsx', sheet_name = 'amex' , na_values=['n/a'])
nyse = pd.read_excel('listings.xlsx', sheet_name = 'nyse' , na_values=['n/a'])

pd.concat([amex,nyse]).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3507 entries, 0 to 3146
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           3507 non-null   object
 1   Company Name           3507 non-null   object
 2   Last Sale              3425 non-null   float64
 3   Market Capitalization  3507 non-null   float64
 4   IPO Year               1466 non-null   float64
 5   Sector                 2415 non-null   object
 6   Industry               2415 non-null   object
dtypes: float64(3), object(4)
memory usage: 219.2+ KB

In [43]:
# Add a column to reference source (BROADCASTING)

amex['Exchange'] = 'AMEX'
nyse['Exchange'] = 'NYSE'

listings = pd.concat([amex,nyse])
listings.head(2)

,Stock Symbol,Company Name,Last Sale,Market Capitalization,IPO Year,Sector,Industry,Exchange
0,XXII,"22nd Century Group, Inc",1.33,1.206285e+08,NaN,Consumer Non-Durables,Farming/Seeds/Milling,AMEX
1,FAX,Aberdeen Asia-Pacific Income Fund Inc,5.00,1.266333e+09,1986.0,NaN,NaN,AMEX

In [49]:
# Combine three DataFramnes with LOOP

xls = pd.ExcelFile ('listings.xlsx') # create a list with names of worksheets
exchanges = xls.sheet_names # assign list to a variable
listings = [] # create empty list to collect DataFrames

# loop into worksheets
for exchange in exchanges:
    listing = pd.read_excel(xls, sheet_name=exchange)
    # add reference col
    listing['Exchange'] = exchange
    # add DataFrame to list
    listings.append(listing)
    
# List of DataFrames
combined_listings = pd.concat(listings)
combined_listings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6674 entries, 0 to 3146
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           6674 non-null   object
 1   Company Name           6674 non-null   object
 2   Last Sale              6590 non-null   float64
 3   Market Capitalization  6674 non-null   float64
 4   IPO Year               2852 non-null   float64
 5   Sector                 5182 non-null   object
 6   Industry               5182 non-null   object
 7   Exchange               6674 non-null   object
dtypes: float64(3), object(5)
memory usage: 469.3+ KB

### ** Exercises **

#### Load all listing data and iterate over key-value dictionary pairs

In [51]:
# Import the NYSE and NASDAQ listings
nyse = pd.read_excel('listings.xlsx', sheet_name='nyse', na_values='n/a')
nasdaq = pd.read_excel('listings.xlsx', sheet_name='nasdaq', na_values='n/a')

# Inspect nyse and nasdaq
nyse.info()
nasdaq.info()

# Add Exchange reference columns
nyse['Exchange'] = 'NYSE'
nasdaq['Exchange'] = 'NASDAQ'

# Concatenate DataFrames  
combined_listings = pd.concat([nyse, nasdaq])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3147 entries, 0 to 3146
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           3147 non-null   object
 1   Company Name           3147 non-null   object
 2   Last Sale              3079 non-null   float64
 3   Market Capitalization  3147 non-null   float64
 4   IPO Year               1361 non-null   float64
 5   Sector                 2177 non-null   object
 6   Industry               2177 non-null   object
dtypes: float64(3), object(4)
memory usage: 172.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3167 entries, 0 to 3166
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           3167 non-null   object
 1   Company Name           3167 non-null   object
 2   Last Sale              3165 non-null   float64
 3   Market Capitalization  3167 non-null   float64
 4   IPO Year               1386 non-null   float64
 5   Sector                 2767 non-null   object
 6   Industry               2767 non-null   object
dtypes: float64(3), object(4)
memory usage: 173.3+ KB

In [52]:
combined_listings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6314 entries, 0 to 3166
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           6314 non-null   object
 1   Company Name           6314 non-null   object
 2   Last Sale              6244 non-null   float64
 3   Market Capitalization  6314 non-null   float64
 4   IPO Year               2747 non-null   float64
 5   Sector                 4944 non-null   object
 6   Industry               4944 non-null   object
 7   Exchange               6314 non-null   object
dtypes: float64(3), object(5)
memory usage: 444.0+ KB

#### Automate the loading and combining of data from multiple Excel worksheets

In [53]:
# Create the pd.ExcelFile() object
xls = pd.ExcelFile('listings.xlsx')

# Extract the sheet names from xls
exchanges = xls.sheet_names

# Create an empty list: listings
listings = []

# Import the data
for exchange in exchanges:
    listing = pd.read_excel(xls, sheet_name=exchange, na_values='n/a')
    listing['Exchange'] = exchange
    listings.append(listing)

# Concatenate the listings: listing_data
listing_data = pd.concat(listings)

# Inspect the results
listing_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6674 entries, 0 to 3146
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           6674 non-null   object
 1   Company Name           6674 non-null   object
 2   Last Sale              6590 non-null   float64
 3   Market Capitalization  6674 non-null   float64
 4   IPO Year               2852 non-null   float64
 5   Sector                 5182 non-null   object
 6   Industry               5182 non-null   object
 7   Exchange               6674 non-null   object
dtypes: float64(3), object(5)
memory usage: 469.3+ KB